.image{
    background-image: url(./images/back-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    overflow-y: hidden;
}

.cont-image{
    padding-top: 4rem;
}

h1{
    padding-top: 150px;
}

.container-title{
    text-align: center;
    background-color: var(--primary-color);
  }

  .container-title .en-tete{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 3vh;
    padding-bottom: 3vh;
    
  }

  section {
    background-color: #EEEEEE;
    color:var(--font-color-noir);
    font-family:var(--font-primary);
    
    font-size: 1.2vw;
    background-color: var(--primary-color);
    text-align: center;
    padding-right: 4vw;
    padding-left: 4vw; 
    padding-top: 3vw;
    padding-bottom: 3vw; 
  }

  .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    
  }

  .grid-container .titre{
    grid-column: 1 / span 2;
    text-align: center;
    background-color: black;
    color: white;
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 3vh;
    
  }

  .grid-container .col11{
    width: 100%;
    height: 50vh;
    justify-self: center;
    padding-top: 15vh;
    background-color: var(--font-color-kaki);
  }

  .grid-container .col12{
    background-image:url(./images/img5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    justify-self: center;
  }

  .grid-container .col21{
    background-image: url(./images/accueil-cartons.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    justify-self: center;
  }

  .grid-container .col22{
    width: 100%;
    justify-self: center;
    padding-top: 15vh;
    background-color: var(--font-color-kaki2);
    height: 50vh;
  }

  .marquee-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--font-color-noir);
    color: var(--secondary-color);
    letter-spacing: 5%;
    font-size: 2rem;
    text-align: center;
    
  }
  
  .marquee-wrapper:after {
    position: absolute;
    content: ' ';
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background-image: linear-gradient(to right, transparent, #fff);
    
  }
  
  .marquee {
    white-space: nowrap;
  }