html{
  width: 100%;
}

.container-contact{
  width: 60%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
} 

.header-image {
  /* display: block; */
  /* object-fit: cover;
 
  width:100%; */
  background: url("../images/header_contact.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 500px;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1 {
  padding-top: 50px;
  font-size: 48px;
  text-align: center;
}
.flexx-container{
  display:flex;
  flex-direction: row;
  padding-left: 2px;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-maroon);
  
}

.flexx-container div h3{
  padding-top: 3rem;
  text-align: center;
}



.underline{
  text-decoration: underline;
}
.underline p{
  text-align: center;
}

form{
  margin-top: 1rem;
  background-color: var(--color-maroon);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
form textarea{
  width: 700px;
  height: 100%;
  border-radius: 10px;
}
form .button{
  background-color: var(--color-maroon);
  width: 40%;
  border-radius: 10px;
}

form .input{
  width: 70%;
  text-align: center;
  border-radius: 10px;
}

form label, .label{
  width: 100px;
  text-align: start;
}

form .label{
  padding-left: 4.8rem;
}

img{
  margin-left: 38%;
}
p{
  margin-top: 0.2rem;
  flex: content;
}