html{
  width: 100%;
}

.container-contact{
  width: 60%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
} 

.header-image {

  background: url("../images/header_contact1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1 {
  padding-top: 50px;
  font-size: 48px;
  text-align: center;
}
.flexx-container{
  display:flex;
  flex-direction: row;
  padding-right: 4vw;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-maroon);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.flexx-container div h3{
  padding-top: 3rem;
  text-align: center;
  font-size: 3vw;
}

.underline{
  text-decoration: underline;
}
.underline p{
  text-align: center;
}

form{
  margin-top: 1rem;
  background-color: var(--color-maroon);
  padding-top: 3rem;
  padding-bottom: 3rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
form textarea{
  width: 700px;
  height: 100%;
  border-radius: 10px;
}
form .button{
  background-color: var(--color-maroon1);
  width: 70%;
  border: solid var(--color-maroon1);
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form .input{
  width: 70%;
  text-align: center;
  border-radius: 10px;
}

form label, .label{
  width: 100px;
  text-align: start;
}

form .label{
  padding-left: 4.8rem;
}

img{
  margin-left: 38%;
}
p{
  margin-top: 0.2rem;
  flex: content;
}


@media (max-width: 1000px){
  .header-image {
    height: 20rem;
    overflow-y: hidden;
    margin-top: 0;
    background-position: center;
    background-image: cover;
    
  }
  form label .label{
    width: 100vw;
    text-align: start;
  }
  form label .nom{
    width: 100vw;
    text-align: start;
  }
  form .label{
    padding-left: 6vw;
}
  form textarea{
    width: 50vw;
    height: 6rem;
    border-radius: 10px;
  }

  form{
    margin-top: 1rem;
    background-color: var(--color-maroon);
    padding-top: 3rem;
    padding-bottom: 3rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
   
  }
  form .input{
    width: 50%;
    height: 2rem;
    text-align: center;
    border-radius: 10px;
  }
  .flexx-container{
    display: flex;
    flex-direction: row;
   
  }
  
  img{
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 35vh;
    margin-left: 13vw;
  }
  body{
    background-color:var(--font-color-marron-light);
  }
}  
