h1 {
  padding-top: 50px;
  font-size: 48px;
  text-align: center;
}
.caption{
  overflow: hidden;
  width: 80%;
}
.caption-image1{
  overflow: hidden; 
  width: 80%;
}
.caption-image2 {
  color: white;
  transition: transform 1400ms ease;
}
.caption-image2:hover{
  transform: translateY(-100%);
}
img{
  background-image: cov;
}